/* llamar a la etiqueta para asignarle estilos*/
body{
    background-color: rgb(138, 136, 136);
}

/*? llamando a la clase, para asignar estilos: para esto usamos el punto*/

.divTabla {
    display: flex;
    align-items: center;
    justify-content: center;
}
/*? para llamar a traves de un ID, uso el numeral => # */

#tablaContenido {
    border: 2px solid black;
    background-color: beige;
    /*podemos usar un estilo de propiedad en la tabla, que nos permite evitar esos espacio*/
    border-collapse: collapse;
}

th {
    border: 1px solid black;
    background-color: rgb(72, 252, 234);
    /*puedo cambiarle la FUENTE a mi head*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

td{
    border: 1px solid black;
    background-color: azure;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /*podemos tambien, centrar los textos con otras propiedades*/
    text-align: center;
    /*el padding me separa el CONTENIDO respecto al BORDE DEL CONTENEDOR*/
    padding: 15px;
}

img{
    width: 30%;
    aspect-ratio: 16/9;
    object-fit: contain;
}